.folders-search-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.folders-search-form .elgg-foot {
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
}

.folders-search-form .elgg-field {
  -webkit-flex: 0 1 49%;
  flex: 0 1 49%;
}

.elgg-menu-folders li {
  line-height: 18px;
  vertical-align: middle;
  text-indent: -15px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.elgg-menu-folders li > span, .elgg-menu-folders li > a, .elgg-menu-folders li > a span {
  margin-right: 5px;
  display: inline;
  vertical-align: middle;
  line-height: 18px;
}
.elgg-menu-folders li.elgg-state-selected > a {
  font-weight: bold;
}
.elgg-menu-folders .elgg-menu-closed .elgg-child-menu {
  display: none;
}
.elgg-menu-folders .elgg-menu-closed > .elgg-child-menu-toggle > .collapse {
  display: none;
}
.elgg-menu-folders .elgg-menu-closed > .elgg-child-menu-toggle > .expand {
  display: block;
}
.elgg-menu-folders .elgg-menu-closed.elgg-menu-parent {
  margin-left: auto;
}
.elgg-menu-folders .elgg-menu-open > .elgg-child-menu-toggle > .collapse {
  display: block;
}
.elgg-menu-folders .elgg-menu-open > .elgg-child-menu-toggle > .expand {
  display: none;
}
.elgg-menu-folders img {
  width: 16px;
  height: 16px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.elgg-menu-folders .elgg-child-menu-toggle, .elgg-menu-folders .elgg-child-menu-indicator {
  margin: 0;
  cursor: pointer;
  color: #666;
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px 0 3px;
  width: 18px;
  text-align: center;
}

.elgg-form-folders-search-search_results [type="text"] {
  display: inline-block;
  width: calc(100% - 50px);
  float: left;
}

.elgg-form-folders-search-search_results [type="submit"] {
  float: right;
  width: auto;
  min-width: 0;
}

.folders-content-editor {
  display: flex;
}

.folders-search-area {
  flex: 1 1 40%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
}

.folders-search-area .elgg-menu-folderd-entity {
  display: none;
}

.folders-content-area {
  flex: 1 1 60%;
  box-sizing: border-box;
  border-color: #dcdcdc;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.folders-search-results {
  max-height: 600px;
  overflow-y: scroll;
}

.folders-content-area .folders-content-list {
  height: 600px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.folders-content-editor .folders-content-list > li {
  cursor: move;
}

.folders-content-editor .folders-content-list > li a {
  cursor: pointer;
}

.folders-content-list {
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.folders-draggable-placeholder {
  background: #f1f1f1;
  min-height: 60px;
  width: 100%;
  display: block;
}

.folders-content-list > li {
  padding: 0;
  width: 100% !important;
  height: auto !important;
}

.folders-content-item.elgg-image-block {
  padding: 10px;
  font-size: 90%;
}

.folders-content-item.elgg-image-block > .elgg-image img {
  max-width: 40px;
  height: auto;
}

.folders-content-item.elgg-image-block .elgg-content {
  margin: 3px 0 0;
}

.folders-nav-item.elgg-image-block {
  padding: 3px;
  font-size: 80%;
}

.folders-nav-item.elgg-image-block > .elgg-image img {
  max-width: 25px;
  height: auto;
}

.folders-search-area .elgg-form {
  padding: 5px 10px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  background: #f4f4f4;
}

.folders-search-area .elgg-form button {
  position: absolute;
  right: 0;
  margin: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

.folders-content-area .elgg-form {
  padding: 0;
}

.folders-content-area .elgg-form .elgg-foot {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #dcdcdc;
}

.folders-editor-component {
  padding: 15px;
}

.elgg-menu-resource-item-controls {
  text-indent: 0;
  margin-left: 5px;
  display: none;
}

.elgg-menu-resource-item-controls > li {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

.elgg-menu-resource-item-controls > li > a {
  color: #aaa;
  margin: 0;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

.elgg-menu-resource-item-controls > li > a > span {
  margin: 0;
  text-indent: 0;
  font-size: 11px;
}

.elgg-menu-folders li:hover > .elgg-menu-resource-item-controls {
  display: inline-block;
}

.elgg-menu-folders li.elgg-state-draggable {
  cursor: move;
}

.elgg-menu-folders li .elgg-icon-arrows {
  font-size: 12px;
  color: #aaa;
}
